/*================================
        General-Styles
=================================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin AchorTag_Desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

@mixin AchorTag_p_Desktop{
    display:block;
    margin: 0 auto;
    font-size: 36px;
}

@mixin Grid_width_Desktop {
    width: 50%;
}

@mixin mobile_box_one{
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
    border-bottom: 1px solid #fff;
        a{
            flex-direction: column-reverse;
            img{
                width: 100%;
            }
            p{
                padding: 10% 0px 5% 0px;
            }
        }
}

@mixin mobile_box_two{
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
    border-bottom: 1px solid #fff;
    a{
        display: block;
        img{
            width: 100%;
        }
        p{
            padding: 10% 0px 5% 0px;
        }
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
}

/*================================
            Main-Styles
=================================*/

.main{
    h4{
        font-weight: normal;
        text-align: left;
        font-size: 40px;
        padding: 8% 0px 5% 0px;
    }
    .main_flex{
        .main_flex_link{
            display: flex;
            justify-content: space-between;
            .main_link_oben1{
                @include Grid_width_Desktop;
                a{
                    @include AchorTag_Desktop;
                    img{
                        @include Grid_width_Desktop;
                    }
                    p{
                       @include AchorTag_p_Desktop;
                    }
                }
                
            }
            .main_link_oben2{
                @include Grid_width_Desktop;
                a{
                    @include AchorTag_Desktop;
                    img{
                        @include Grid_width_Desktop;
                    }
                    p{
                        @include AchorTag_p_Desktop;
                    }
                }
                
            }
        
            .main_link_unten1{
                @include Grid_width_Desktop;
                a{
                    @include AchorTag_Desktop;
                }
                img{
                    @include Grid_width_Desktop;
                }
                p{
                    @include AchorTag_p_Desktop;
                }
            }
            .main_link_unten2{
                @include Grid_width_Desktop;
                a{
                    @include AchorTag_Desktop;
                }
                img{
                    @include Grid_width_Desktop;
                }
                p{
                    @include AchorTag_p_Desktop;
                }
            }
        }
        .main_flex_action{
            display: flex;
            justify-content: center;
            padding: 8% 0px;
            button{
                padding: 10px 25px;
                margin: 5% 0px;
                border: none;
                border-radius: 15px;
                outline: none;
                background: pink;
                border-bottom: 1px solid #fff;
                a{
                    color: #fff;
                    font-size: 40px;
                    font-family: "Montserrat";
                    text-decoration: none;
                }
            } 
        }    
    }
    .main_article{
        text-align: left;
        padding: 8% 0px;
        p:first-child {
            font-size: 40px;
        }
        p:last-child{
            @include Grid_width_Desktop;
            padding: 2% 0px;
        }
    }
}

/*================================
            Media-Styles
=================================*/

@media only screen and (max-width: 375px) {
    .main{
        h4{
            display: none;
        }
        .main_flex{
            .main_flex_link{
                display:block;
                .main_link_oben1{
                    @include mobile_box_one;
                }
                .main_link_oben2{
                    @include mobile_box_two;
                }
                .main_link_unten1{
                    @include mobile_box_two;
                }
                .main_link_unten2{
                    @include mobile_box_one;
                }
            }
            .main_flex_action{
                display: flex;
                justify-content: center;
                padding: 8% 0px;
                button{
                    padding: 10px 25px;
                    margin: 10% 0px;
                    border: none;
                    border-radius: 15px;
                    outline: none;
                    background: pink;
                    border-bottom: 1px solid #fff;
                    a{
                        color: #fff;
                        font-size: 18px;
                        font-family: "Montserrat";
                        text-decoration: none;
                    }
                } 
            }     
        }
        .main_article{
            display: none;
        }
    }
}