/*================================
        General-Styles
=================================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

/*================================
            Main-Styles
=================================*/
.main h4 {
  font-weight: normal;
  text-align: left;
  font-size: 40px;
  padding: 8% 0px 5% 0px;
}
.main .main_flex .main_flex_link {
  display: flex;
  justify-content: space-between;
}
.main .main_flex .main_flex_link .main_link_oben1 {
  width: 50%;
}
.main .main_flex .main_flex_link .main_link_oben1 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.main .main_flex .main_flex_link .main_link_oben1 a img {
  width: 50%;
}
.main .main_flex .main_flex_link .main_link_oben1 a p {
  display: block;
  margin: 0 auto;
  font-size: 36px;
}
.main .main_flex .main_flex_link .main_link_oben2 {
  width: 50%;
}
.main .main_flex .main_flex_link .main_link_oben2 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.main .main_flex .main_flex_link .main_link_oben2 a img {
  width: 50%;
}
.main .main_flex .main_flex_link .main_link_oben2 a p {
  display: block;
  margin: 0 auto;
  font-size: 36px;
}
.main .main_flex .main_flex_link .main_link_unten1 {
  width: 50%;
}
.main .main_flex .main_flex_link .main_link_unten1 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.main .main_flex .main_flex_link .main_link_unten1 img {
  width: 50%;
}
.main .main_flex .main_flex_link .main_link_unten1 p {
  display: block;
  margin: 0 auto;
  font-size: 36px;
}
.main .main_flex .main_flex_link .main_link_unten2 {
  width: 50%;
}
.main .main_flex .main_flex_link .main_link_unten2 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.main .main_flex .main_flex_link .main_link_unten2 img {
  width: 50%;
}
.main .main_flex .main_flex_link .main_link_unten2 p {
  display: block;
  margin: 0 auto;
  font-size: 36px;
}
.main .main_flex .main_flex_action {
  display: flex;
  justify-content: center;
  padding: 8% 0px;
}
.main .main_flex .main_flex_action button {
  padding: 10px 25px;
  margin: 5% 0px;
  border: none;
  border-radius: 15px;
  outline: none;
  background: pink;
  border-bottom: 1px solid #fff;
}
.main .main_flex .main_flex_action button a {
  color: #fff;
  font-size: 40px;
  font-family: "Montserrat";
  text-decoration: none;
}
.main .main_article {
  text-align: left;
  padding: 8% 0px;
}
.main .main_article p:first-child {
  font-size: 40px;
}
.main .main_article p:last-child {
  width: 50%;
  padding: 2% 0px;
}

/*================================
            Media-Styles
=================================*/
@media only screen and (max-width: 576px) {
  .main h4 {
    display: none;
  }
  .main .main_flex .main_flex_link {
    display: block;
  }
  .main .main_flex .main_flex_link .main_link_oben1 {
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
    border-bottom: 1px solid #fff;
  }
  .main .main_flex .main_flex_link .main_link_oben1 a {
    flex-direction: column-reverse;
  }
  .main .main_flex .main_flex_link .main_link_oben1 a img {
    width: 100%;
  }
  .main .main_flex .main_flex_link .main_link_oben1 a p {
    padding: 10% 0px 5% 0px;
  }
  .main .main_flex .main_flex_link .main_link_oben2 {
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
    border-bottom: 1px solid #fff;
  }
  .main .main_flex .main_flex_link .main_link_oben2 a {
    display: block;
  }
  .main .main_flex .main_flex_link .main_link_oben2 a img {
    width: 100%;
  }
  .main .main_flex .main_flex_link .main_link_oben2 a p {
    padding: 10% 0px 5% 0px;
  }
  .main .main_flex .main_flex_link .main_link_unten1 {
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
    border-bottom: 1px solid #fff;
  }
  .main .main_flex .main_flex_link .main_link_unten1 a {
    display: block;
  }
  .main .main_flex .main_flex_link .main_link_unten1 a img {
    width: 100%;
  }
  .main .main_flex .main_flex_link .main_link_unten1 a p {
    padding: 10% 0px 5% 0px;
  }
  .main .main_flex .main_flex_link .main_link_unten2 {
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
    border-bottom: 1px solid #fff;
  }
  .main .main_flex .main_flex_link .main_link_unten2 a {
    flex-direction: column-reverse;
  }
  .main .main_flex .main_flex_link .main_link_unten2 a img {
    width: 100%;
  }
  .main .main_flex .main_flex_link .main_link_unten2 a p {
    padding: 10% 0px 5% 0px;
  }
  .main .main_flex .main_flex_action {
    display: flex;
    justify-content: center;
    padding: 8% 0px;
  }
  .main .main_flex .main_flex_action button {
    padding: 10px 25px;
    margin: 10% 0px;
    border: none;
    border-radius: 15px;
    outline: none;
    background: pink;
    border-bottom: 1px solid #fff;
  }
  .main .main_flex .main_flex_action button a {
    color: #fff;
    font-size: 18px;
    font-family: "Montserrat";
    text-decoration: none;
  }
  .main .main_article {
    display: none;
  }
}

/*# sourceMappingURL=Main.css.map */
